{% extends "base.html" %}

{% if id %}
  {% set link_suffix = [topic.path, "?id=", id]|join("") %}
{% else %}
  {% set link_suffix = topic.path %}
{% endif %}

{% block content %}

<header>
  {% if view_link %}
    <a href="{{ link_suffix }}">view</a> |
  {% endif %}
  {{ username }}
  (<a href="/logout?redirect={{ link_suffix }}">logout</a>)
</header>

<h1>{{ topic.edit_name }}</h1>

<form method="post">
  <textarea name="content" class="edit">{{ content }}</textarea>
  <br />
  <input type="submit">
  {% if error %}
    <span style="color: red">{{ error }}</span>
  {% endif %}
</form>

{% endblock %}
