{% extends "base.html" %}

{% block content %}

<header>
  {% if redirect %}
    <a href="/login?redirect={{ redirect }}">login</a> |
    <a href="{{ redirect }}">back</a>
  {% else %}
    <a href="/login">login</a> |
    <a href="/">back</a>
  {% endif %}
</header>

<h1>Sign up below!</h1>

<form method="post">
  <br />
  <label>
    Username
    <input name="username" value="{{ username }}">
    <span style="color: red">{{ username_error }}</span>
  </label>
  <br />
  <label>
    Password
    <input type="password" name="password" value="{{ password }}">
    <span style="color: red">{{ password_error }}</span>
  </label>
  <br />
  <label>
    Verify
    <input type="password" name="verify" value="{{ verify }}">
    <span style="color: red">{{ verify_error }}</span>
  </label>
  <br />
  <label>
    E-mail (optional)
    <input name="email" value="{{ email }}">
    <span style="color: red">{{ email_error }}</span>
  </label>
  <br />
  <br />
  <input type="submit">
</form>

{% endblock %}
