<html>
  <head>
    <style type="text/css">
      body {
        background-color: #F8F8F8;
        color: #282828;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.5;
        min-width: 50rem;
        max-width: 55rem;
        padding: 10px 30px;
        padding: 1rem 3rem;
      }

      .error {
        color: #B00000;
        text-align: center;
      }
    </style>
    <title>Blog!</title>
  </head>
  <body>

  <h1>Blog!</h1>

  {% block content %}
  {% endblock %}

  </body>
</html>
