html {
  color: #282828;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background-color: #F8F8F8;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  max-width: 45rem;
  padding: 16px 40px;
  padding: 1rem 2.5rem;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #F46223;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

a:hover {
  color: #C1410A;
}

blockquote {
  border-left-color: #B00000;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-width: 0.0625rem;
  color: #424242;
  margin: 8px 24px;
  margin: 0.5rem 1.5rem;
  padding-left: 8px;
  padding-left: 0.5rem;
}

strong {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 400;
}

h1 {
  font-size: 28px;
  font-size: 1.75rem;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

h4 {
  font-size: 16px;
  font-size: 1rem;
}

header {
  text-align: right;
}

footer {
  text-align: center;
}

hr {
  border: 0;
  background-color: #B00000;
  height: 1px;
  height: 0.0625rem;
  width: 20%;
}

ol, ul {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

td {
  border-bottom-color: #C6C6C6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-width: 0.0625rem;
  padding: 2px 4px;
  padding: 0.125rem 0.25rem;
}

td.content {
  width: 100%;
}

td.date, td.time, td.view, td.edit {
  text-align: center;
  white-space: nowrap;
  width: 1px;
  width: 0.0625rem;
}

input[type="submit"] {
  background-color: #C6C6C6;
  border-color: #424242;
  border-style: solid;
  border-width: 1px;
  border-width: 0.0625rem;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0;
}

textarea.edit {
  height: 480px;
  height: 30rem;
  max-width: 100%;
  width: 100%;
}

.error {
  color: #B00000;
  text-align: center;
}

/* Source: http://www.adobe.com/cfusion/communityengine/index.cfm?
event=showdetails&postId=5341&productId=1 */
sup, sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
}
sup { bottom: 1ex; }
sub { top: 0.5ex; }
